In [13]:
import pandas as pd
import datetime
df_trip = pd.read_csv('./trip.csv',error_bad_lines=False)
df_trip

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

### What is the average trip duration for a borrowed bicycle?

In [16]:
avg_trip =df_trip[['tripduration']].mean()[0]
avg_trip

1178.2956753399776

### What’s the most common age of a bicycle-sharer?

In [20]:
most_common_age =df_trip[['birthyear']].value_counts().idxmax()[0]
most_common_age = 2020 - most_common_age
most_common_age

33.0

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [22]:
df_weather = pd.read_csv('./weather.csv',error_bad_lines=False)

# adding new column for the month
df_weather['month'] = pd.DatetimeIndex(df_weather['Date']).month

# grouping by month
average_per_month=df_weather.groupby(['month']).mean()[['Precipitation_In']]
median_per_month= df_weather.groupby(['month']).median()[['Precipitation_In']]

print(average_per_month)
median_per_month

       Precipitation_In
month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

       Precipitation_In
month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

### What’s the average number of bikes at a given bike station?

In [6]:
df_station = pd.read_csv('./station.csv',error_bad_lines=False)
station_counts = df_station[df_station["decommission_date"].isnull()]
average = station_counts['current_dockcount'].mean()
average

17.74074074074074

### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [9]:
df_station = pd.read_csv("./station.csv")
df_station = df_station.assign(lost = lambda x: x["current_dockcount"] - x['install_dockcount'])
lost = df_station[df_station['lost'] != 0][['name',"install_dockcount",'current_dockcount','lost']]
lost["lost"].mean()

-3.263157894736842

Lose , because when comparing current bikes with installed bikes after modification the answer will be negative

### Come up with 3 more questions that can be answered with this data set.

In [29]:
# what was the 5 least temperature ?
least_temp = df_weather.sort_values("Min_TemperatureF",ascending=True).head(5)
least_temp

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,month,year
446,1/2/2016,44,34.0,23,30,23,13,96,73,33,...,10,9,6,8,2,NaN,0.0,NaN,1,2016
445,1/1/2016,44,34.0,25,30,25,21,92,76,43,...,10,10,6,5,1,NaN,0.0,NaN,1,2016
411,11/28/2015,46,36.0,26,31,26,21,86,75,50,...,10,8,2,6,1,NaN,0.0,Snow,11,2015
50,12/2/2014,44,35.0,26,28,26,21,82,68,49,...,10,10,9,8,3,-,0.0,NaN,12,2014
79,12/31/2014,41,34.0,26,25,22,18,78,60,41,...,10,10,10,7,2,-,0.0,NaN,12,2014

In [10]:
# What’s the average number of bikes in a station ?
avg_bike = df_station["install_dockcount"].mean()
avg_bike

17.586206896551722

In [42]:
# what is the longest trip duration ?
longest_trip = df_trip['tripduration'].max()
longest_trip

28794.398

In [35]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip, 1178.2956753399776)
    assert_equal(most_common_age, 33.0)
    assert_equal(avg_bike, 17.586206896551722)

    print("Success!!!")

test()

Success!!!